{% extends 'magasin/base.html' %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Commande Form</title>
    <!-- Inclure Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <style>
        /* Ajoutez vos styles personnalisés ici si nécessaire */
    </style>
</head>
<body>
    <div class="container">
        <div class="form-wrapper">
            <h1 > Commande</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Enregistrer</button>
            </form>
        </div>
    </div>
    <h2>Liste des commandes</h2>
    <div class="fournisseurs-container">
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Date</th>
                    <th>Total</th>
                    <th>Description</th> 
                    <th>Total Price</th>
                </tr>
            </thead>
            <tbody>
                {% for commande in commandes %}
                <tr>
                    <td>{{ commande.dateCde }}</td>
                    <td>{{ commande.totalCde }}</td>
                    <td>{{ commande.description }}</td>
                    <td>{{ commande.total }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!-- Inclure Bootstrap JS (optionnel si vous n'utilisez pas les fonctionnalités JavaScript de Bootstrap) -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
</body>
</html>
{% endblock %}